<div class="bottom-container">
  <div class="bottom-left-container">
    <h3>Your booked session:</h3>
    <ul>
      <% @bookings.sort_by { |booking| booking.lesson.appointment }.each do |booking| %>
        <% if booking.lesson.appointment < Time.now %>
          <li class="lesson-list past-lesson d-none">
            <span><%= booking.lesson.name %> : <%= booking.lesson.appointment.strftime('%A %d %b %H') %>H00</span>
          </li>
        <% else %>
          <li class="lesson-list">
            <% if booking.lesson.appointment.strftime('%A') == Time.now.strftime('%A') %>
              <span><%= booking.lesson.name %> : Today at <%= booking.lesson.appointment.strftime('%H') %>H00</span>
              <div>
                <a href="/lessons/<%= booking.lesson.id %>" class="btn-ghost lesson-join-button">Join</a>
            <% else %>
              <span><%= booking.lesson.name %> : Next <%= booking.lesson.appointment.strftime('%A') %> at <%= booking.lesson.appointment.strftime('%H') %>H00</span>
              <div>
                <a class="btn-ghost lesson-soon-button" disabled>Soon</a>
            <% end %>
            <%= link_to '🗑',
            lesson_booking_path(booking.lesson, booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <a class="btn-ghost" id="show-lesson-btn" role="button">Show/Hide past lessons</a>
  </div>
  <div class="bottom-right-container">
    <h3>Your performances</h3>
    <% sum_calories = 0 %>
    <% @bookings.each do |booking| %>
      <% sum_calories += booking.lesson.average_calories %>
    <% end %>
    <h4>Calories = <%= sum_calories %></h4>
  </div>
</div>
