<div class="top-container">
  <h1>Hello <%= current_user.name %></h1>
</div>
<div class="bottom-container">
  <div class="bottom-left-container">
    <h3>Your booked session:</h3>
    <ul>
      <% @bookings.sort_by { |booking| booking.lesson.appointment }.each do |booking| %>
        <% if booking.lesson.appointment < Time.now %>
          <li class="lesson-list" hidden>
            <span><%= booking.lesson.name %> : <%= booking.lesson.appointment.strftime('%A %d %b %H') %>H00</span>
          </li>
        <% else %>
          <li class="lesson-list">
            <span><%= booking.lesson.name %> :
            <% if booking.lesson.appointment.strftime('%A') == Time.now.strftime('%A') %>
              Today at <%= booking.lesson.appointment.strftime('%H') %>H00
            <% else %>
              Next <%= booking.lesson.appointment.strftime('%A') %> at <%= booking.lesson.appointment.strftime('%H') %>H00
            <% end %>
            </span>
            <button class="btn-ghost lesson-join-button" disabled>Soon</button>
          </li>
        <% end %>
      <% end %>
    </ul>
    <a class="btn-flat lesson-book" role="button" href="/lessons">Book another session</a>
  </div>
  <div class="bottom-right-container">
    <h3>Your performances</h3>
    <% sum_calories = 0 %>
    <% @bookings.each do |booking| %>
      <% sum_calories += booking.lesson.average_calories %>
    <% end %>
    <h4>Calories = <%= sum_calories %></h4>
  </div>
</div>
