<div class="card-div">
  <div>
    <div class="card-product">
      <%= cl_image_tag lesson.lesson_picture %>
      <button type="button" class="card-category-top-left" data-toggle="modal" data-target="#LessonModal<%= lesson.id %>">
        <%= lesson.name.capitalize %>
      </button>
      <button type="button" class="card-category-top-right" data-toggle="modal" data-target="#CoachModal<%= lesson.coach.id %>">
        <%= lesson.coach.name.capitalize %>
      </button>
      <div class="card-infos">
        <% if lesson.appointment.strftime('%A') == Time.now.strftime('%A') %>
          <p>Today at <%= lesson.appointment.strftime('%H') %>H00</p>
        <% else %>
          <p>Next <%= lesson.appointment.strftime('%A') %> at <%= lesson.appointment.strftime('%H') %>H00</p>
        <% end %>
      </div>
      <% if current_user %>
        <%= link_to "Book", lesson_bookings_path(lesson_id: lesson.id), method: :post, class: "card-category-bottom-right" %>
      <% else %>
        <%= link_to "Book", new_user_session_path, class: "card-category-bottom-right"%>
      <% end %>
     </div>
  </div>
</div>

<div class="modal fade" id="LessonModal<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="LessonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <span class="modal-close" data-dismiss="modal">&times;</span>
        <h3><strong> <%= lesson.name.capitalize %> </strong></h3>
          <div class="modal-picture">
            <%= cl_image_tag lesson.lesson_picture %>
          </div>
          <div class="modal-description">
            <%= lesson.lesson_description %>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="CoachModal<%= lesson.coach.id %>" tabindex="-1" role="dialog" aria-labelledby="CoachModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <span class="modal-close" data-dismiss="modal">&times;</span>
        <h3><strong> <%= lesson.coach.name.capitalize %> </strong></h3>
        <div class="modal-description">
          <div class="modal-picture">
            <%= cl_image_tag lesson.lesson_picture %>
          </div>
          <h5><strong>Son expérience de coach</strong></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum assumenda nihil facere veniam commodi fugit, veritatis voluptate sed quaerat nisi. Quod dolores quasi voluptate ipsum, officiis autem cumque necessitatibus quia.</p>
          <h5><strong>Sa séance typique</strong></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt consectetur eius corporis veniam repellendus quod et, ipsum, adipisci accusamus, eveniet doloremque. Necessitatibus ipsum minus, illum enim porro a, provident non.</p>
        </div>
      </div>
    </div>
  </div>
</div>
