<div class="slick-item">
  <div class="card-lesson">
    <div class="card-product">
      <%= cl_image_tag lesson.lesson_picture %>
      <button type="button" class="card-category-top-left" data-toggle="modal" data-target="#LessonModal<%= lesson.id %>Center">
        <%= lesson.name.capitalize %>
      </button>
      <div id="coach-button" class="card-category-top-right cursor-pointer" data-toggle="modal" data-target="#CoachModal<%= lesson.coach.id %>Center">
        <%= image_tag lesson.coach.avatar_picture, class: "card-category-top-right avatar"%>
      </div>
      <div class="card-infos">
        <h3> Lesson with <%= lesson.coach.name %></h3>
          <% if lesson.appointment.strftime('%A') == Time.now.strftime('%A') %>
            <p>Today at <%= lesson.appointment.strftime('%H') %>H00</p>
          <% else %>
            <p><%= lesson.appointment.strftime('%A') %> at <%= lesson.appointment.strftime('%H') %>H00</p>
          <% end %>
      </div>
      <% if current_user %>
        <% if Booking.find_by(user_id: current_user.id, lesson_id: lesson.id) %>
          <%= link_to "Booked", user_dashboard_path(user_id: current_user.id), method: :get, class: "card-category-center-booked" %>
        <% else %>
          <%= link_to "Book", lesson_bookings_path(lesson_id: lesson.id), method: :post, class: "card-category-center" %>
        <% end %>
      <% else %>
        <%= link_to "Book", new_user_session_path, class: "card-category-center"%>
      <% end %>
     </div>
  </div>
</div>
