<div class="card-div">
  <div>
    <div class="card-product">
      <%= cl_image_tag lesson.lesson_picture %>
      <button type="button" class="card-category-top-left" data-toggle="modal" data-target="#LessonModal<%= lesson.id %>">
        <%= lesson.name %>
      </button>
      <button type="button" class="card-category-top-right" data-toggle="modal" data-target="#CoachModal<%= lesson.coach.id %>">
        <%= lesson.coach.name %>
      </button>
      <div class="card-infos">
        <% if lesson.appointment.strftime('%A') == Time.now.strftime('%A') %>
          <p>Today at <%= booking.lesson.appointment.strftime('%H') %>H00</p>
        <% else %>
          <p>Next <%= booking.lesson.appointment.strftime('%A') %> at <%= booking.lesson.appointment.strftime('%H') %>H00</p>
        <% end %>
      </div>
      <% if @user %>
        <%= link_to "Book", lesson_bookings_path(user_id: @user, lesson_id: lesson.id), method: :post, class: "card-category-bottom-right" %>
      <% else %>
        <p>Connectez-vous pour pouvoir réserver une séance.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="LessonModal<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="LessonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LessonModalLabel"><%= lesson.coach.specialty.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h3>Description du cours</h3> -->
        <%= lesson.lesson_description %>
        <%# end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="CoachModal<%= lesson.coach.id %>" tabindex="-1" role="dialog" aria-labelledby="CoachModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CoachModalLabel"><%= lesson.coach.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= lesson.coach.name %>
        <%= lesson.coach.name %>
      </div>
    </div>
  </div>
</div>
