<div class="slick-item">
  <div class="card-lesson">
    <div class="card-product">
      <%= cl_image_tag lesson.lesson_picture %>
      <button type="button" class="card-category-top-left" data-toggle="modal" data-target="#LessonModal<%= lesson.id %>Center">
        <%= lesson.name.capitalize %>
      </button>
      <% similar_bookings = @bookings.joins(:lesson).where("lessons.coach_id = ? AND lessons.name = ?", lesson.coach.id, lesson.name) %>
      <% unless similar_bookings.nil? %>
        <% sum_rating = 0 %>
        <% rating_given = 0 %>
        <% similar_bookings.each do |booking| %>
          <% unless booking.review_rating.nil? %>
            <% sum_rating += booking.review_rating %>
            <% rating_given += 1 %>
          <% end %>
        <% end %>
        <% unless sum_rating.zero? %>
        <% average_rating = sum_rating.to_f / rating_given %>
        <p class="card-category-top-right">
          <%= average_rating.round(2) %> ⭐️
        </p>
        <% end %>
      <% end %>
      <div id="coach-button" class="card-category-center-right cursor-pointer" data-toggle="modal" data-target="#CoachModal<%= lesson.coach.id %>Center">
        <%= image_tag lesson.coach.avatar_picture, class: "card-category-center-right avatar"%>
      </div>
      <div class="card-infos">
        <h3> Lesson with <%= lesson.coach.name %></h3>
          <% if lesson.appointment.strftime('%A') == Time.now.strftime('%A') %>
            <p>Today at <%= lesson.appointment.strftime('%H') %>H00</p>
          <% else %>
            <p><%= lesson.appointment.strftime('%A') %> at <%= lesson.appointment.strftime('%H') %>H00</p>
          <% end %>
      </div>
      <% if current_user %>
        <% if Booking.find_by(user_id: current_user.id, lesson_id: lesson.id) %>
          <%= link_to "Booked", user_dashboard_path(user_id: current_user.id), method: :get, class: "card-category-center-booked" %>
        <% else %>
          <%= link_to "Book", lesson_bookings_path(lesson_id: lesson.id), method: :post, class: "card-category-center" %>
        <% end %>
      <% else %>
        <%= link_to "Book", new_user_session_path, class: "card-category-center"%>
      <% end %>
     </div>
  </div>
</div>
