
<div class="lesson-show">
  <div class="show-container">

    <div class="exercices">
      <div class="exo1">
        <h4>Warm up</h4>
        <h4>😩</h4>
      </div>
      <div>
        ----
      </div>
      <div class="exo2">
        <h3>Repetition 1</h3>
        <h3>🥺</h3>
      </div>
      <div>
        ----
      </div>
      <div class="exo3">
        <h4>Repetition 2</h4>
        <h4>💪</h4>
      </div>
      <div>
        ----
      </div>
      <div class="exo4">
        <h4>Repetition 3</h4>
        <h4>🥵</h4>
      </div>
      <div>
        ----
      </div>
      <div class="exo5">
        <h4>Stretching</h4>
        <h4>🤩</h4>
      </div>
    </div>
    <div class="video-and-description">
      <div class="video-container">
          <div id="remote-video-container" data-current-user-id="<%= current_user.id %>">
            <div class="video-grid">
              <video id="local-video" autoplay ></video>
            </div>
          </div>
            <div class="play-button">
              <a id="join-button" class="play-btn" href="#"></a>
            </div>

        <div class="dropdown-menu">
          <div class="classes-description">
            <h3><strong>Repetition 1 💪 - x4</strong></h3>
              <div class="description-container">
                  <p>👉 30sec Back Lunge + 30sec Jumping Jacks + 30sec Front Lunge</p>
                  <p>👉 5x Burpees</p>
                  <p>👉 30sec rest</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <hr />
    <div class="button-container">
      <div class="btn-dashboard">
        <button type="button" class="btn btn-ghost retour" data-toggle="modal" data-target="#reviewModalCenter">
        Finish my class
        </button>
      </div>
    </div>
</div>
<div class="modal fade" id="reviewModalCenter" tabindex="-1" role="dialog" aria-labelledby="reviewModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalLongTitle">How was your lesson?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@lesson, @booking]) do |f| %>
          <%= f.input :review_rating, collection: (1..5).to_a, label: "Rate your experience" %>
          <%= f.input :review_text, as: :text, label: "Tell us more" %>
          <%= f.button :submit, "Send your review", class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
